*{
    margin: 0px;
    padding: 0px;
    font-family: cursive;

}

body{
    background-color: rgb(231,227,227);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    height: 600px;
    width: 460px;
    background-color: white;
    padding: 10px;
    box-shadow: 5px 5px 15px #68cdca,-5px 5px 10px #ffffff ;
}

.heading{
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

#display{
    height: 80px;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: 2px 2px 10px #312b88;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    text-align: right;
}

.keyboard{
    display: flex;
    justify-content: space-around;

}

.button{
    height: 75px;
    width: 75px;
    margin: 20px;
    border: none;
    /* background-color: rgb(255, 0, 136); */
    outline: none;
    box-shadow: 5px 5px 10px #b6acac, -5px -5px 10px #fafaf4;

}

.button:active{
    box-shadow: inset 1px 1px 2px #babeec, inset -1px -1px 2px #ffffff;
}

.button:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}